.divmain{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin: 0;
}
.z_left{
    float: left;
    width: 185px;
    height: 842px;
    background: #fff
}
.zz{
    float: left;
    width: 185px;
    height: 48px;
    background: #fff;
    text-align: center;
    line-height: 48px;
    border-bottom: 1px solid #eeeeee;
}
.wo{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
.z_right{
    float: left;
    width: 85%;
    margin-left: -10px
}
.k1{
    float: left;
    width: 1498px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ececed;
    margin: 10px 0 0 20px;
}
.biank{
    float: left;
    height: 842px;
    background: #eeeeee;
    line-height: 842px;
    text-align: center;
}